<div class="container-fluid">
    <div class="row">
        <label for="">
            Created on:
            <input type="date">
        </label>
        <label for="">
            &nbsp;Status:
            <select id="changeStatus">
                <option>All</option>
                <option value="new">New</option>
                <option value="valid">Valid</option>
            </select>
        </label>
    </div>
    <div class="row">
        <div id="request-list"></div>
    </div>
</div>
