<div class="container-fluid">
    <div class="jumbotron">
        <h2 class="text-danger">Page not Found / Página no encontrada</h2>
        <a href="/">Home</a>
        <a href="/">Página principal</a>
    </div>
</div>
