<div class="jumbotron">
    <h1>{{title}}</h1>
    <p>Welcome! use this tool to request food and track the status
        of your orders.
    </p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="/request/new">Solicitud de Comidas</a>
            <a class="btn btn-primary" href="#">Track Request</a>
        </div>
    </div>
</div>
